USE [master]
GO
/****** Object:  Database [itsolutions20253]    Script Date: 22/01/2026 5:21:27 CH ******/
CREATE DATABASE [itsolutions20253]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'itsolutions20253', FILENAME = N'c:\databases\itsolutions20253\itsolutions20253.mdf' , SIZE = 8192KB , MAXSIZE = 20971520KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'itsolutions20253_log', FILENAME = N'c:\databases\itsolutions20253\itsolutions20253_log.ldf' , SIZE = 8192KB , MAXSIZE = 1048576KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [itsolutions20253].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [itsolutions20253]
GO
/****** Object:  Table [dbo].[students]    Script Date: 22/01/2026 5:21:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[gender] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [email], [name], [gender]) VALUES (4, N'binh105684@donga.edu.vn', N'Pham minh', N'Nam')
INSERT [dbo].[students] ([id], [email], [name], [gender]) VALUES (5, N'Vu@gmail.com', N'NguyenDangVu', N'Nam')
INSERT [dbo].[students] ([id], [email], [name], [gender]) VALUES (6, N'danh@gmail.com', N'Danh', N'Nam')
SET IDENTITY_INSERT [dbo].[students] OFF
GO
USE [master]
GO
